.Header {
  text-align: center;
}

.Header-nav {
}

.Header-nav ul {
  padding-left: 0;
  list-style: none;
}

.Header-nav li {
  display: inline-block;
  padding: 1em;
}

.Header-nav li:first-of-type {
  padding-left: 0;
}

.Header-nav li:last-of-type {
  padding-right: 0;
}
