name: Tests

on: [push, pull_request]

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    timeout-minutes: 1
    steps:
      - uses: ludeeus/action-shellcheck@00cae500b08a931fb5698e11e79bfbd38e612a38 # tag=v2
  cypress:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v4
        with:
          node-version: 18
      - run: cd example && npm install
      - run: cd example && npm run build
      - name: Run tests
        run: xvfb-run --auto-servernum npm run ci
        working-directory: ./example
        env:
          API_KEY: ${{ secrets.AXE_WATCHER_API_KEY }}
          SERVER_URL: https://axe.dequelabs.com
  axe-dev-hub:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    needs: cypress
    steps:
      - uses: actions/checkout@v3
      - uses: ./
        with:
          api_key: ${{ secrets.AXE_WATCHER_API_KEY }}
          server_url: https://axe.dequelabs.com
